body {
  background: url(scroll.png);
  background-position: center top;
  background-size: cover;
  margin: 0
  font-family: Papyrus, 'Trebuchet MS', Helvetica, sans-serif;  

}
  
  .contact-information h1 {
 	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #342E1D
    }
  

  h3 {
  text-align: center;
  position: relative;
  font-size: 52px;
  height: 10px;
  bottom: 0px;
  width: 100%; 
  }
