body {
  background: url(scroll.png);
  background-position: center top;
  background-size: cover;
  margin: 0
  font-family: Papyrus, 'Trebuchet MS', Helvetica, sans-serif;  
}

#professional-experience h2{
  font-size: 34px;
  margin: 20px 0 12px 0;
}

#container {
	width: 1000px;
	margin: 60px auto 80px;
}

  .contact-information h1 {
  font-size: 48px;
  text-align: left;
  margin: 32px 0 4px 0;
  letter-spacing: -2px;
  width: 100%;	  
  border-bottom: 1px solid #342E1D
    }
  

 .contact-information h3 {
  text-align: left;
  position: relative;
  margin: 0 0 24px 0;
  font-size: 24px;
  letter-spacing: -2px;
  width: 100%; 
  border-bottom: 0px solid #342E1D	 
  }

#pic {
	float: right;
}


#container  h3 {
  font-size: 27px;
  margin: 14px 0 14px 0;	
  border-bottom: 1px solid #342E1D
}

#container h4 {
  font-size: 20px;
  font-style: italic 
  margin: 26px 0 13px 0;
}

#container ul {
  font-size: 19px;
}

#education h2 {
  font-size: 34px;
  margin: 20px 0 12px 0;
}

#education h3 {
  font-size: 27px;
  margin: 14px 0 0px 0;	
  border-bottom: 1px solid #342E1D
}

#education h4 {
  font-size: 20px;
  margin: 0px;
  font-style: italic 
}
